.report-container {
    margin-top: 3%;
}

.card {
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
    background-color: #F9F4EF;
}

.card-title {
    font-size: 24px;
    color: #DB4F23;
    margin-bottom: 10px;
}

.card-text {
    color: #A89D8F;
}

.details-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price {
    color: #1C1716;
}

.sales {
    color: #1C1716;
}

.company {
    color: #DB4F23;
    font-weight: bold;
}

.card-type {
    font-size: 18px;
    color: #F2890D;
    margin-bottom: 5px;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #F9F4EF;
    color: #DB4F23;
    font-size: 24px;
}

.no-orders-message {
    text-align: center;
    color: #DB4F23;
    font-size: 18px;
    margin-top: 50px;
}